.body{
    width: 100%;
    height: auto;
    position: relative;
}
.container{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
/*底部补漏样式*/
.foot-bg{
    width: 100%;
    height: 480px;
    background: url("../img/footer/foot-background.jpg");
    background-size: cover;
    margin-top:-450px;
}
/*底部样式*/
.foot{
    width:100%;
    color:#ffffff;
    /*background: url("../img/footer/foot-background.jpg");*/
}
.foot.container{
    width:100%;
    margin:0 auto;
}
/*底部图片样式*/
.foot img{
    height:60px;
    background-size:cover;
    padding-left:30%;
    padding-top:20px;
    margin-bottom:50px;
}
/*新手帮助板块*/
.foot .help .hr{
    width: 30px;
    height: 1px;
    background: #fff;
    margin-top: 4px;
}
.foot .help li {
    list-style-type:none;/*清除原点样式*/
    padding-top:10px;
}
.foot .help li a{
    color:#ffffff;
}
.foot .help li a:hover{
    text-decoration:none;
    color:yellow;
}

/*关于我们部分*/
.foot .body li{
    float:left;
    list-style-type:none;
    padding-left:16px;
    margin-top:40px;
}

.foot .body li a{
    color: #ffffff;
    font-size:9px;
}
.foot .body li a:hover{
    color: yellow;
    text-decoration:none;
}
/*版权说明部分*/
.foot .body2{
    width:100%;
    padding-top:20px;
    margin-left: 20px;
}
/*线条*/
.foot .body2 .line{
    display:inline-block;
    width:38%;/*线条宽度*/
    border-top:1px solid #cccccc;
    vertical-align:5px;/*使线条居中文字*/
}
/*线条中间文字*/
.foot .body2 .text{
    margin-left:2%;
    margin-right:2%;
    font-size:12px;
}
/*营业执照部分*/
.foot .body3{
    width: 100%;
    margin-top:10px;
}
.foot .body3 ul{
    display: flex;
    width:100%;
    margin:0 auto;
}
.foot .body3 ul span{
    margin-top: -4px;
}
.foot .body3 li{
    flex: 1;
    text-align: center;
    list-style-type:none;
    font-size:9px;
    line-height: 14px;
}
/*浙公网安备*/
.foot .body4{
    width: 100%;
    margin-top:10px;
}
.foot .body4 ul{
    width: 100%;
    margin:0 auto;
    display: flex;
}
.foot .body4 ul span{
    margin-top: -5px;
}
.foot .body4 li{
    flex: 1;
    list-style-type:none;
    text-align: center;
    line-height: 14px;
    font-size:9px;
}
